<ion-content>
 
  <div id="main">

    <div id="body">
      <div id="header">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
        <!-- <ion-title>Detailed Statistics</ion-title> -->
    
        <hr>
      </div>
      <div id="top-cont">
        <ion-row id="top" item-start>
          <h4>Your total events</h4>
        </ion-row>
        <ion-row id="top" item-start>
          <h1 size="large">0 Events</h1>
        </ion-row>
      </div>
      
        <ion-card>
          Total tickets sold for current events
        </ion-card>
       
          <ion-card>
          Total funds owed to you
        </ion-card>
       
          <ion-card>
          Total people who viewed your post
        </ion-card>
    
        
     

 
    </div>
  </div>
</ion-content>