<ion-content style=" --background:#101045">

  <ion-grid style="margin-top: 100px;">



    <ion-row>
      <ion-col
        style="margin-bottom: 20%;color:white; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;"
        size="12">
        Sign In
      </ion-col>
    </ion-row>

    <ion-grid>

      <div class="cent">

        <div class="personcircle">
          <ion-icon name="person-circle-outline"></ion-icon>
          </div>
          
        

        <ion-row class="rowStyle">
          <ion-icon name="person"></ion-icon>
          <ion-input placeholder="Email" type="text" name="email"></ion-input>
        </ion-row>
  
    
  
        <ion-row class="rowStyle">
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input placeholder="Password" type="text" name="password"></ion-input>
        </ion-row>

        <ion-button>
          Sign in
        </ion-button>

        <div class="forgot">
          <ion-button expand=block fill="clear" color="light" style="text-transform: capitalize; font-size:8px; margin-top: -20px; align-items: flex-start; margin-left: -5px;">
            Not registed? Sign up                                         
          </ion-button>
        
          <ion-button expand=block fill="clear" color="light" style="text-transform: capitalize; font-size:8px; margin-top: -20px; align-items: flex-start; margin-right: 20px;">
            Forgot your password?                                        
          </ion-button>
        </div>

      </div>

    </ion-grid>

  </ion-grid>


</ion-content>