ion-content{
    --background: #101045;
    
}

ion-card{
    border-radius: 0px;
}

.home{
    margin: 20px;
}

.date{
    margin-right: 70%;
}
 .music{
    margin-bottom: 10%;
    margin-left: 30%;
 }
 .delete{
    margin-left: 70%;
    margin-top: -50%;
 }

 .trash{
    --background: #ffffff;
 }
 .fab{
    margin-top: 52%;
 }
 .cloud{
    margin-top: 47%;
 }
 .del{
    margin-right: 15%;
    margin-top: 52%;
 }
 .delet{
    margin-top: 47%;
    margin-right: 15%;
 }
 ion-fab-button{
     width: 35px;
     height: 35px;
 }
 .plus{
    position: fixed;
 }

 .add{
     --background: #e7366d;
 }