
<ion-content>

  <div class="home">
    <h1 style="color: #ffff;">Current Event</h1>
    <ion-label style="color: #636bd5; font-size: x-small; font-style: italic;">Music Festive</ion-label>
    <h6 style="color: #ffff;">Tickets Bought &nbsp;&nbsp;&nbsp; 150</h6>
    <h6 style="color: #ffff;">Tickets Left &nbsp;&nbsp;&nbsp; 30</h6>

    <h1 style="color: #ffff;">My Events</h1>
    
    <ion-card>
      <img src="assets/photo.jfif">
      <ion-fab class="del" vertical="" horizontal="end">
        <ion-fab-button class="trash">
          <ion-icon size="small" color="dark" name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab class="fab" vertical="" horizontal="end">
        <ion-fab-button class="trash">
          <ion-icon size="small" color="dark" name="cloud-upload-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
      
      <ion-grid>
        <ion-row>
          <ion-col style="color: rgb(62, 62, 248); font-size: large;">
            Jun <br>30
          </ion-col>
          <ion-col style="font-size: larger;">
            Music Festive <br>FNB Stadium
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card>
      <img src="assets/party.jpg">
      <ion-fab class="delet" vertical="" horizontal="end">
        <ion-fab-button class="trash">
          <ion-icon size="small" color="dark" name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab class="cloud" vertical="" horizontal="end">
        <ion-fab-button class="trash">
          <ion-icon size="small" color="dark" name="cloud-upload-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
      
      <ion-grid>
        <ion-row>
          <ion-col style="color: rgb(62, 62, 248); font-size: large;">
            Dec <br>25
          </ion-col>
          <ion-col style="font-size: larger;">
            Music Festive <br>Randburg Hall
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <ion-fab class="plus" vertical="bottom" horizontal="end">
    <ion-fab-button class="add" (click)="goToNext()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


<!-- newly added -->

<div class="home">
  <h1 style="color: #ffff;">Newly Added</h1>

  <ion-card  *ngFor= "let p of events">
    <img src="{{p?.eventImage1}}" style="height: 150px;">
    <ion-fab class="del" vertical="" horizontal="end">
      <ion-fab-button class="trash">
        <ion-icon size="small" color="dark" name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab class="fab" vertical="" horizontal="end">
      <ion-fab-button class="trash">
        <ion-icon size="small" color="dark" name="cloud-upload-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-grid>
      <ion-row>
        <ion-col style="color: rgb(62, 62, 248); font-size: large;">
          {{p?.eventDate}}
        </ion-col>
        <ion-col style="font-size: larger;">
          {{p?.eventName}} <br>{{p?.venue}} 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>

</ion-content>
