
<ion-content>

  <div class="home">
    <h1 style="color: #ffff;">Current Event</h1>
    <h6 style="color: #ffff;">Music Festive</h6>
    <h5 style="color: #ffff;">Tickets Bought</h5>
    <h5 style="color: #ffff;">Tickets Left</h5>

    <h1 style="color: #ffff;">My Events</h1>
    
    <ion-card>
      <img src="assets/images.jfif">
      <ion-fab class="del" vertical="" horizontal="end">
        <ion-fab-button>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-fab class="fab" vertical="center" horizontal="end">
        <ion-fab-button>
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
      
      <ion-grid>
        <ion-row>
          <ion-col style="color: rgb(62, 62, 248); font-size: large;">
            Jun <br>30
          </ion-col>
          <ion-col style="font-size: larger;">
            Music Festive <br>FNB Stadium
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>
