
ion-toolbar{
    --background: #101045;
    color: whitesmoke;
}

.evt{
    display: flex;
    flex-direction: column;
    margin-left: 2px;
}

.free{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}