<ion-content style=" --background:#101045">

  <ion-grid style="margin-top: 100px;">


    <div class="back">
    <ion-icon name="arrow-back-outline" (click)="goToNext()"></ion-icon>
    </div>

    <ion-row>
      <ion-col
        style="margin-bottom: 20%;color:white; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;"
        size="12" >
        Forgot Password
      </ion-col>
    </ion-row>


    <ion-text style="color: white; font-size: 0px;font-weight: normal; text-align: center;">
      <h5>please enter your email to receive the instructions to rest your password.</h5>
    </ion-text>

    <ion-grid>

      <div class="cent">
      
        <ion-row class="rowStyle">
          <ion-icon name="person"></ion-icon>
          <ion-input placeholder="Email" type="text" name="email" [(ngModel)]="email"></ion-input>
        </ion-row>
  
    
  
        

        <ion-button (click)="resetPassword()">
          Send Now
        </ion-button>

      </div>

    </ion-grid>

  </ion-grid>


</ion-content>