<ion-content style="--background:#101045">

  <div class="content" style="margin-top: 100px;">

    <ion-row>
      <ion-col
        style="margin-bottom: 20%;color:white; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;"
        size="12">
        Sign Up
      </ion-col>
    </ion-row>

    <!-- <ion-grid> -->

    <div class="cent">

      <form [formGroup]="eventOwnerForm" (ngSubmit)="registerOwner()">

        <ion-row class="rowStyle">
          <ion-icon name="person"></ion-icon>
          <ion-input placeholder="Username" formControlName="username" type="text" name="username"></ion-input>
        </ion-row>
        <div *ngFor="let error of errorMessages.username">
          <ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched) || isSubmitted">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-row class="rowStyle">
          <ion-icon name="mail"></ion-icon>
          <ion-input placeholder="Email" formControlName="email" type="email" name="email"></ion-input>
        </ion-row>
        <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched) || isSubmitted">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-row class="rowStyle">
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input placeholder="Password" formControlName="password" type="password" name="password"></ion-input>
        </ion-row>
        <div *ngFor="let error of errorMessages.password">
          <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched) || isSubmitted">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>

        <ion-button (click)="registerOwner()">
          Sign Up
        </ion-button>

        <ion-button expand=block fill="clear" color="light" [routerLink]="['/signin']" routerLinkActive="router-link-active" 
          style="text-transform: capitalize; font-size:8px; margin-top: -20px; align-items: flex-start; padding-right: 0px;">
          Already have an account? Sign in
        </ion-button>

      </form>


    </div>

  </div>



</ion-content>