<ion-content style=" --background:#101045">

  <ion-grid style="margin-top: 100px;">



    <ion-row>
      <ion-col
        style="margin-bottom: 20%;color:white; text-align: center;font-weight: bold;font-family:'Arial Narrow Bold', sans-serif;font-size: 2em;"
        size="12">
        Sign Up
      </ion-col>
    </ion-row>

    <ion-grid>

      <div class="cent">

        <ion-row class="rowStyle">
          <ion-icon name="person"></ion-icon>
          <ion-input placeholder="Username" type="text" name="username"></ion-input>
        </ion-row>
  
        <ion-row class="rowStyle">
          <ion-icon name="mail"></ion-icon>
          <ion-input placeholder="Email" type="text" name="email"></ion-input>
        </ion-row>
  
        <ion-row class="rowStyle">
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input placeholder="Password" type="text" name="password"></ion-input>
        </ion-row>

        <ion-button>
          Sign Up
        </ion-button>

        <ion-button expand=block fill="clear" color="light" style="text-transform: capitalize; font-size:8px; margin-top: -20px; align-items: flex-start; padding-right: 0px;">
          Already have an account? Sign in
        </ion-button>
      </div>

    </ion-grid>

    <!-- <ion-row class="user" >
        <ion-col size="12">
        
            <ion-label position="floating">
              <ion-icon name="person-outline"></ion-icon>
              Username
            </ion-label>

            <ion-input style="margin-top: 10px;background-color: #6a6d93; height: 50px; border-radius: 80px; width: 85%; " type="text" name="username"></ion-input>

      
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
        
            <ion-label position="floating">
              <ion-icon name="mail-outline"></ion-icon> Email
            </ion-label>
            <ion-input  style="margin-top: 10px; background-color: #6a6d93; height: 50px; border-radius: 80px; width: 85%; " type="text" name="email"></ion-input>
          
        </ion-col>
      </ion-row>




      <ion-row style="margin-top: 10px; background-color: #6a6d93;">
        <ion-col size="12">

            <ion-label position="floating">
              <ion-icon name="lock-closed-outline"></ion-icon>
              Password
            </ion-label>
            <ion-input type="password" name="password"></ion-input>

          
        </ion-col>
      </ion-row>


      <ion-row style="margin-top: 50px;;">
        <ion-col size="12">
          <ion-button (click)="Sign-Up()" expand="round" style="--background:#E7366D">Sign up</ion-button>
          <a routerLink="" style="color:white;font-size:1em;">Already have an account? Sign in.</a>

        </ion-col>
      </ion-row> -->


  </ion-grid>


</ion-content>