<ion-content>

<div id="main-cont">
</div>
<div id="top-cont">
  <div id="small-cont">
    <div id="button">
  <ion-fab-button color="primary"><ion-icon name="add" ></ion-icon></ion-fab-button>
</div>
</div>
</div>

<ion-card>
  <ion-item><ion-label color="medium">Company Name: </ion-label></ion-item>
  <ion-item><ion-label color="medium">Address: </ion-label></ion-item>
  <ion-item><ion-label color="medium">Phone: </ion-label></ion-item>
  <ion-item><ion-label color="medium">Email: </ion-label></ion-item>
  <ion-item><ion-label color="medium">Website: </ion-label></ion-item>
  <ion-item><ion-label color="medium">Social Links:</ion-label></ion-item>
  
</ion-card>


<ion-button color="primary" shape="round">Save</ion-button>

































</ion-content>
