<ion-header>
</ion-header>

<ion-content>

  <div class="profile">
    <h2>Complete your profile</h2>

    <form (ngSubmit)="companyProf()">
      <ion-item>
        <ion-label position="floating">Company Name:</ion-label>
        <ion-input type="text" [(ngModel)]="set.name" name="company"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Physical Address:</ion-label>
        <ion-input type="text" [(ngModel)]="set.address" name="physical"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number:</ion-label>
        <ion-input type="number" [(ngModel)]="set.phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email Address:</ion-label>
        <ion-input type="email" [(ngModel)]="set.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Website:</ion-label>
        <ion-input type="text" [(ngModel)]="set.site" name="website"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Social Links:</ion-label>
        <ion-icon style="color: rgb(24, 24, 161);" name="logo-facebook"></ion-icon>
        <ion-icon color="primary" name="logo-twitter"></ion-icon>
        <ion-icon style="color: rgb(216, 60, 203);" name="logo-instagram"></ion-icon>
      </ion-item>
        <ion-button class="button" expand="block" shape="round">Save</ion-button>
      
    </form>
  </div>

</ion-content>
